@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Shadows+Into+Light&display=swap');


:root{
  --send-btn-clr: rgb(30, 154, 165);
  --dbf:#35f027;
  --luci:rgb(206, 183, 35);
  --st:rgb(255, 0, 0);
  --crazy:rgb(43, 188, 255);
  --fits:rgb(239, 107, 31);
  --cp: rgb(121, 20, 210);
}

body {
  align-items: center;
  justify-content: center;
  background: #333;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
  overflow: hidden;
}

h2 {
  color: #fff;
  margin: 0 0 1em;
}

nav {
  flex: 1;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.button {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 2em;
  color: #757575;
  cursor: pointer;
  
  font-size: clamp(.4rem,3vw,1.75rem);
  font-weight: 500;
  line-height: 2em;
  padding: 0 1em;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  user-select: none;
}
.button:focus {
  outline: thin dotted;
}

.active {
  color: #fff;
}
.active:nth-child(1) {
  border-color: #52d6c5;
}
.active:nth-child(2) {
  border-color: #bde694;
}

.chart {
  align-items: flex-end;
  display: flex;
  min-height: 200px;
  justify-content: space-around;
  margin: auto;
}
.chart div {
  background: #52d6c5;
  border-radius: 16px;
  height: 200px;
  position: relative;
  transition: height 0.4s ease-in-out, background-color 0.4s ease-in-out;
  width: 2%;
}
.chart div.show {
    display:flex;
    justify-content: center;
}
.chart div.none {
    display:none;
}

.chart div::after,
.chart div::before{
  font-family: 'Quicksand', sans-serif;
  position:absolute;
}
.chart div::after {
  bottom: -2em;
  color: #8e8e8e;
  font-size: clamp(.8rem,3vw,1.5rem);
  content:  attr(data-auth);
}

.chart div::before{
  opacity:0;
  top: -1em;
  border-radius: 2px;
  padding: .1em .3em;
  background-color: #8e8e8e;
  font-size:clamp(.6rem,2vw,1rem);
  white-space:nowrap;
  content: attr(data-msg);
}
.chart div:hover::before{
  opacity:1;
  z-index: 20;
}

.prc-input{
  font-family: 'Quicksand', sans-serif;
  top: -1.5rem;
  background:none;
  border:none;
  position:absolute;
  width:4rem;
  color:white;
  text-align: center;

}

.operator-btns{
  position:absolute;
  display:flex;
  gap:clamp(.2rem, 1.5vw, 2rem);
  bottom:0;
}

.operator-btns button{
  background: none;
  border:none;
  color:white;
  font-size: clamp(.5rem, 4vw, 1.7rem);
  cursor: pointer;
  
}


.dbf div {
  background: var(--dbf);
}
.luci div {
    background-color: var(--luci);
}
.st div {
    background-color: var(--st);
}
.crazy div {
    background-color: var(--crazy);
}
.fits div {
    background-color: var(--fits);
}
.cp div {
    background-color: var(--cp);
}

footer {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3em 0 0;
  text-transform: uppercase;
}

.percentaje{
  font-size: 3rem;
  font-family: 'Shadows Into Light', cursive;
}

.send-btn{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  padding:.4rem .8rem;
  border:4px var(--send-btn-clr) solid;
  color: var(--send-btn-clr);
  box-shadow: 0px 1px 8px -0.2px #000;
  cursor: pointer;
  border-radius:3px;
}
.send-btn:hover{
  background:var(--send-btn-clr);
  color: white;
  transition: 0.9s;
}

@media (min-width: 320px) {
  h2 {
    font-size: 1.2em;
    margin: 0;
  }
  nav {
    flex: 0.5;
  }

  .stats {
    flex: 1;
  }
}

@media (min-width: 620px) {
  h2 {
    font-size: 1.5em;
  }
  
  .stats div {
    width: 25%;
  }
}
